[submodule "docs/modules/structured-data-module"]
	path = docs/modules/structured-data-module
	url = https://github.com/MultiX-Amsterdam/structured-data-module
[submodule "docs/modules/text-data-module"]
	path = docs/modules/text-data-module
	url = https://github.com/MultiX-Amsterdam/text-data-module
[submodule "docs/modules/image-data-module"]
	path = docs/modules/image-data-module
	url = https://github.com/MultiX-Amsterdam/image-data-module
